apiVersion: v1
kind: Pod
metadata:
  name: pod-memoria-alta
  namespace: default
spec:
  containers:
    - name: app
      image: nginx:alpine
      resources:
        requests:
          memory: "768Mi"
        limits:
          memory: "768Mi"
