apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ordendev
  name: ms-patients
  labels:
    app: ms-patients
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-patients
      version: v1
  template:
    metadata:
      labels:
        app: ms-patients
        version: v1
      annotations:
        sidecar.istio.io/prometheusMergeMetrics: "false"
        prometheus.io/scrape: "true"             # indica que Prometheus debe scrappear este pod
        prometheus.io/path: /prom/metrics        # ruta donde exponen las metricas
        prometheus.io/port: "8080"               # puerto donde exponen las metricas
        prometheus.io/scheme: "http"
        prometheus.io/container: ms-patients
    spec:
      containers:
        - name: ms-patients
          image: cedser/patient-service:1.3
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          resources:
            requests:
              memory: "128Mi"
              cpu: "125m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          envFrom:
            - configMapRef:
                name: orderdev-config
          env:
            - name: HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: host
            - name: DATABASE
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password
          livenessProbe:
            httpGet:
              path: /health/live
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 10
            failureThreshold: 12   #120 segundos maximo
            timeoutSeconds: 2
