apiVersion: v1
kind: Pod
metadata:
  name: curl-mtls
  namespace: ordendev
  labels:
    app: curl-mtls
  annotations:
    sidecar.istio.io/inject: "true"
spec:
  containers:
    - name: curl
      image: curlimages/curl:8.6.0
      command: ["sleep", "3600"]
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: "50m"
          memory: "64Mi"
        limits:
          cpu: "100m"
          memory: "128Mi"
  restartPolicy: Never
