apiVersion: v1
kind: Pod
metadata:
  name: curl-test
  namespace: ordendev
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  containers:
    - name: curl
      image: curlimages/curl
      command:
        - sleep
        - "3600"
      resources:
        requests:
          cpu: "50m"
          memory: "64Mi"
        limits:
          cpu: "100m"
          memory: "128Mi"
  restartPolicy: Never
